*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: 5PX solid blue !important;
}

body{
    font-size: 18px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right,#0C359E,40%,#EE99C2 );
}

audio{
    display: none;
}

.dialogue{
height: 70px;
background: rgba(0,0,0,0.5);
border-radius: 50px;
color: rgba(255,255,255,0.7);
display: flex;
justify-content: center;
align-items: center;
font-size: 90%;
padding: 20px 40px;
display: none;
position: absolute;
bottom: 10%;
left: 50%;
transform: translateX(-50%);
animation-name: popup;
animation-duration: 0.6s;

}

@keyframes popup {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.alarm{
    width: 400px;
    height: 400px;
    background: white;
    border-radius: 5px;

}

.alarm__top{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.alarm__heading{
    font-family: "Roboto Serif", serif;
    font-size: 100px;
    display: flex;
    font-weight: 400;

}

.alarm__bottom{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    padding: 10px;
}

.alarm__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;

}

.alarm__button{
    height: 100%;
    width: 100%;
    background: hsl(223, 86%, 43%);
    border: none;
    color: white;
    transition: background 0.2s;
    border-radius: 5px;
    font-size: 40px;
    font-weight: 400;


}

.alarm__button:hover{
    cursor: pointer;
    background: hsl(223, 86%, 33%);
}

.alarm__toggle{
    all: unset;
    position: absolute;
    top: 20px;
    right: 20px;
    
    width: 70px;
    height: 30px;
    background: #070F2B;
    border-radius: 50px;

}

.alarm__toggle:hover{
    cursor: pointer;
}

.alarm__toggle:after{
    content: "";
    height: 20px;
    width: 20px;
    background: white;
    position: absolute;
    top: 50%;
    left: 5px;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: 0.4s all;
}

.alarm__toggle--checked{
    background: #2D9596;
}

.alarm__toggle--checked::after{
    transform: translateX(35px) translateY(-50%);
}

.footer{
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 70%;
    color: black;
}

@media screen and (max-width:1000px){
    .dialogue{
        width: 100%;
    }

    .alarm{
        height: 600px;
    }
}